{% extends 'layout.html' %}
{% block content %}
	<h1>About Page</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aliquid ex nesciunt dolorem beatae fuga officiis placeat dolore repellat aliquam. Nemo esse excepturi blanditiis repellendus at, porro, in suscipit ducimus, odit non sint. Ducimus veritatis ea corporis odio autem totam consectetur voluptatibus, rem neque? Mollitia, nihil at quibusdam voluptate laborum praesentium vel eos necessitatibus! Architecto, ullam.</p>
{% endblock content %}